.collage {
  &__content {
    text-align: center;
    @include breakpoint-up(medium) {
      display: grid;
      grid-template-areas: "title btn" "gallery gallery";
      row-gap: 3rem;
      align-items: center;
      text-align: left;
    }
    @include breakpoint-up(large) {
      row-gap: 4rem;
    }
  }
  &__heading {
    color: $black;
    font-size: 24px;
    @include breakpoint-up(medium) {
      text-align: left;
      font-size: 30px;
      grid-area: title;
      justify-self: start;
      margin-bottom: 0px;
    }
    @include breakpoint-up(large) {
      font-size: 36px;
    }
  }
  &__btn {
    margin-top: 35px;
    display: inline-block;
    @include breakpoint-up(medium) {
      grid-area: btn;
      margin-top: 0px;
      justify-self: end;
    }
  }
  &__gallery {
    display: flex;
    flex-direction: column;
    @include breakpoint-up(medium) {
      flex-direction: row;
      grid-area: gallery;
    }
    @include breakpoint-up(large) {
      display: block;
    }
  }
  &__margin {
    @include breakpoint-up(medium) {
      margin-right: 30px;
    }
    @include breakpoint-up(large) {
      margin-right: 0px;
    }
  }
  &__box {
    @include breakpoint-up(medium) {
      flex: 1;
    }
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
    }
  }
  &__tile {
    &:hover {
      .collage__image::before {
        opacity: 0.75;
      }
      .collage__text {
        color: $black;
      }
    }
  }
  &__image {
    position: relative;
    height: 120px;
    margin-bottom: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    @include breakpoint-up(large) {
      height: 450px;
      margin-bottom: 30px;
    }
    &::before {
      content: "";
      background-color: white;
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity 300ms ease-in-out;
    }
  }
  &__text {
    font-size: 23px;
    text-align: left;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 40%;
    margin-bottom: 0px;
    transition: color 300ms ease-in-out;
    @include breakpoint-up(medium) {
      width: auto;
    }
    @include breakpoint-up(large) {
      width: 170px;
      font-size: 30px;
    }
  }
}

#image {
  &__one {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/mobile/image-deep-earth.jpg");
    @include breakpoint-up(large) {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/desktop/image-deep-earth.jpg");
    }
  }
  &__two {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/mobile/image-night-arcade.jpg");
    @include breakpoint-up(large) {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/desktop/image-night-arcade.jpg");
    }
  }
  &__three {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/mobile/image-soccer-team.jpg");
    @include breakpoint-up(large) {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/desktop/image-soccer-team.jpg");
    }
  }
  &__four {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/mobile/image-grid.jpg");
    @include breakpoint-up(large) {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/desktop/image-grid.jpg");
    }
  }
  &__five {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/mobile/image-from-above.jpg");
    @include breakpoint-up(large) {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/desktop/image-from-above.jpg");
    }
  }
  &__six {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/mobile/image-pocket-borealis.jpg");
    @include breakpoint-up(large) {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/desktop/image-pocket-borealis.jpg");
    }
  }
  &__seven {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/mobile/image-curiosity.jpg");
    @include breakpoint-up(large) {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/desktop/image-curiosity.jpg");
    }
  }
  &__eight {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/mobile/image-fisheye.jpg");
    @include breakpoint-up(large) {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("/images/desktop/image-fisheye.jpg");
    }
  }
}
